.logo {
    background-image: url(../Train-Schedule/images/headerBackground.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 35px;
}

.headerSub {
    font-family: 'Caveat', cursive;
}

.buttonInfo {
    width: 375px;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: black;
    padding-left: 3%;
    position: absolute;
    bottom: 1;
}

.initialScheduleButton {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 150px;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 5%;
    background-color: aqua;
}